.env
.env.local
.env.docker
.env.*.local
amazon_metadata_2014/
*.jsonl
*.csv

# Ignore specific JSON files, but not package.json/tsconfig.json
data/**/*.json
!slides/package.json
!slides/package-lock.json
!slides/tsconfig.json

__pycache__/

.DS_Store
.idea/
.pytest_cache/

data_preparation/

data/

.ivy2/

slides/node_modules/

slides/.next
.next/