services:
  livestream_agent:
    platform: linux/amd64
    container_name: livestream_agent
    build:
      context: ./src/agent/
      dockerfile: Dockerfile
    env_file:
      - ./src/agent/.env
    environment:
      - IS_APPLE_SILICON=False
    ports:
      - "8081:8081"
    volumes:
      - ./src/agent/data:/app/data
      - ./.ivy2:/root/.ivy2  # This will store the downloaded jars on your Mac
      - ./.m2:/root/.m2      # This stores Maven metadata
      - ~/cache_pretrained:/root/cache_pretrained 
    networks:
      - mlops-k6-network

networks:
  mlops-k6-network:
    external: true