services:
  feature_retrieval_service:
    container_name: feature-retrieval-service
    depends_on:
      redis:
        condition: service_healthy
    build:
      context: ./src/online_stores/
      dockerfile: Dockerfile
    env_file:
      - ./src/online_stores/.env
    ports:
      - "8081:8081"
    volumes:
      - ./src/online_stores/data:/app/data
    networks:
      - mlops-k6-network

networks:
  mlops-k6-network:
    external: true