services:
  livestream_agent:
    container_name: livestream_agent
    build:
      context: ./src/agent/
      dockerfile: Dockerfile
    env_file:
      - ./src/agent/.env
    environment:
      - IS_APPLE_SILICON=True
    ports:
      - "8081:8081"
    volumes:
      - ./src/agent/data:/app/data
    networks:
      - mlops-k6-network

networks:
  mlops-k6-network:
    external: true