# AWS Configuration
# Your S3 bucket name for storing raw data
AWS_BUCKET_NAME=your-bucket-name

# AWS profile name from ~/.aws/credentials (default: "default")
AWS_PROFILE_NAME=default

# AWS region where your bucket is located
AWS_REGION=ap-northeast-1

# Local Data Configuration
# Directory where data will be temporarily downloaded
LOCAL_DATA_DIR=amazon_metadata_2023/raw

# S3 prefix (folder path) where data will be stored in S3
S3_PREFIX=amazon_metadata_2023/raw

# PostgreSQL Configuration
POSTGRES_DB=dwh
POSTGRES_USER=dwh
POSTGRES_PASSWORD=dwh

# Driver Storage
DRIVER=local

