# AWS Configuration
# Your S3 bucket name for storing raw data
AWS_BUCKET_NAME=your-bucket-name

# AWS profile name from ~/.aws/credentials (default: "default")
AWS_PROFILE_NAME=default

# AWS region where your bucket is located
AWS_REGION=ap-northeast-1

# PostgreSQL Configuration
POSTGRES_DB=dwh
POSTGRES_USER=dwh
POSTGRES_PASSWORD=dwh

# Driver Storage
DRIVER=local

